.top-btn {
  margin: 25px auto !important;
  display: block;
  width: 250px;
}
.search-container {
  margin-bottom: 100px;
}
.btn-search {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.match-list {
  display: none;
  width: 100%;
  max-width: 500px;
  height: 140px;
  overflow-y: scroll;
  margin-bottom: 25px;
}
.list-select {
  width: 100%;
  max-width: 500px;
}
.list-item {
  cursor: pointer;
  padding: 5px 8px;
}
.list-item:hover {
  background-color: rgb(225, 228, 203);
}
.list-item p{
  line-height: 100%;
}
.city-name {
  color: orangered;
}
.alert-div {
  margin: auto;
  display: block;
  width: 400px;
}
.pay-icon {
  cursor: pointer;
}
.pay-icon:hover {
  color: #46B4EB;
}
.available {
  color: greenyellow;
}
.not-available {
  color: red;
}